/* Default icon */

#wpstudio-panel-open {
  background-color: #000;
  top: 20%;
  height: 50px;
  width: 56px;
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
}

#wpstudio-panel-open::before, #wpstudio-panel-open::after {
  /* close icon created in CSS */
  position: absolute;
  top: 22px;
  left: 20px;
  height: 3px;
  width: 20px;
  background-color: #fff;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.//wpstudio-panel-open::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#wpstudio-panel-open::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}